#HomePage {
    max-width: 1024px;
    min-height: 100vh;
    gap: 2em;
    font-family: sans-serif;
}

header {
    color: white;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bolder;
    margin-top: 1em;
}

main {
    row-gap: 3em;
}

#StatsSection {
    gap: 2rem;
}

#LaunchesSection {
    color: var(--light-color);
    gap: 1em;
}

#LaunchesSectionSearchRow{
    column-gap: 1em;
}

#SearchInputContainer{
    background-color: var(--background-input-color);
    border-radius: .2em;
    column-gap: .5em;
}

#SearchInputIcon{
margin-left: 1em;
}

#SearchInput{
    height: 2em;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light-color);
    background-color: transparent;
}

#SearchInput:focus {
    border: none;
    outline: none;
}

#SearchInput::placeholder{
    color: var(--light-color);
}

#SearchButton{
    border: none;
    text-align: center;
    background-color: var(--button-color);
    cursor: pointer;
    border-radius: .2em;
    height: 2em;
    font-weight: bold;
}

#SearchButton:focus {
    border: none;
    outline: none;
}

footer {
    font-size: xx-small;
    color: var(--light-color);
    margin-top: auto;
    height: 3em;
}

@media only screen and (min-width: 720px) {
    #StatsSection {
        flex-direction: row;
    }
}