.SkeletonBox{
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: var(--background-charts-color);
    overflow: hidden;
    border-radius: 2px;
    margin: 0px 0px 8px 0px;
}

.SkeletonAnimationElement{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      90deg,
        transparent,
        var(--background-charts-color-light),
        transparent
    );
    animation: shimmer 2s infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }